html {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	overflow: auto;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	font-family: sans-serif, Verdana;
}

.window {
	height: 100%;
	min-height: 100%;
	display: flex;
	justify-content: flex-start;
}

* {
	box-sizing: border-box;
}

.noselect {
	user-select: none;
}

::-webkit-scrollbar-track
{
	
}

::-webkit-scrollbar
{
	width: 12px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #afb9c0;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #252525;
		color: #e4e4e4;
	}

	::-webkit-scrollbar-thumb
	{
		background-color: #151515;
	}
}

// Import all the styles
@import "../src/app/components/main/style";
@import "../src/app/components/main/components/group/style";
@import "../src/app/components/main/components/group/components/fields/accelerator/style";
@import "../src/app/components/main/components/group/components/fields/checkbox/style";
@import "../src/app/components/main/components/group/components/fields/color/style";
@import "../src/app/components/main/components/group/components/fields/directory/style";
@import "../src/app/components/main/components/group/components/fields/dropdown/style";
@import "../src/app/components/main/components/group/components/fields/list/style";
@import "../src/app/components/main/components/group/components/fields/message/style";
@import "../src/app/components/main/components/group/components/fields/radio/style";
@import "../src/app/components/main/components/group/components/fields/slider/style";
@import "../src/app/components/main/components/group/components/fields/text/style";
@import "../src/app/components/sidebar/style";
