html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    font-family: sans-serif, Verdana;
}

.window {
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
}

* {
    box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

::-webkit-scrollbar-track
{
    
}

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #afb9c0;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #252525;
        color: #e4e4e4;
    }

    ::-webkit-scrollbar-thumb
    {
        background-color: #151515;
    }
}