html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

#window {
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
}

* {
    box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@fa-font-path: "/fonts";
@import "opensans-npm-webfont/style.scss";
@import "font-awesome/scss/font-awesome.scss";

.enter {
    border: 1px solid green;
}

.enterActive {
    border: 1px solid red;
}

.leave {
    border: 1px solid blue;
}

.leaveActive {
    border: 1px solid orange;
}

.appear {
    border: 1px solid purple;
}

.appearActive {
    border: 1px solid yellow;
}
