body {
    background: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bt {
    margin: 25px;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #252525;
        color: #e4e4e4;
    }
}
