{
	"extends": [
		"plugin:react/recommended",
		"xo",
	],
	"rules": {
		"array-bracket-spacing": [
			"error",
			"always"
		],
		"indent": ["error", "tab"],
		"padded-blocks": [
			"error",
			{
				"blocks": "always",
				"switches": "always",
				"classes": "always"
			}
		],
		"padding-line-between-statements": [
			"error",
			{
				"blankLine": "always",
				"prev": "multiline-block-like",
				"next": "*"
			},
			{
				"blankLine": "always",
				"prev": "*",
				"next": "return"
			}
		],
		"object-curly-spacing": [
			"error",
			"always"
		],
		"semi": [
			2,
			"always"
		],
		"space-in-parens": [
			"error",
			"never"
		],
		"unicorn/prefer-module": 0
	},
	"settings": {
		"react": {
			"pragma": "React",
			"fragment": "Fragment",
			"version": "detect"
		}
	}
}
