.field-color {

  .color{
    width: 36px;
    height: 14px;
    border-radius: 2px;
  }

  .color-container {
    position: relative;
  }

  .color-swatch {
    padding: 5px;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    display: inline-block;
    cursor: pointer;
  }

  .color-popover {
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 2;
  }

  .color-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .flexbox-fix {
    font-family: 'Open Sans', sans-serif;
  }

}
