.field-text {

    input {
        width: 100%;
        font-size: 14px;
        border-radius: 8px;
        border: 1px solid #606671;
        background-color: #ffffff;
        padding: 8px;
        outline: none;
        margin: 1px;
        transition: border-color 0.3s ease-out;
        
        &:focus {
            border: 2px solid #0084ff;
            margin: 0;
        }
    }

}

@media (prefers-color-scheme: dark) {
    .field-text {

        input {
            color: #e4e4e4;
            background-color: #191919;
            border: 1px solid #131313;
        }
    }
}
