.field-secret {

  .input-button-container {
    width: 100%;
    display: flex;
    
    button {
      flex: 0 0 auto;
    }
    
    input {
      flex: 1 0 auto;
    }
  }
  
  input {
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #606671;
    background-color: #ffffff;
    padding: 8px;
    outline: none;
    margin: 1px;
    transition: border-color 0.3s ease-out;

    &:focus {
      border: 2px solid #0084ff;
      margin: 0;
    }
  }
}

.secret-modal {

  input {
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #606671;
    background-color: #ffffff;
    padding: 8px;
    outline: none;
    margin: 1px;
    transition: border-color 0.3s ease-out;

    &:focus {
      border: 2px solid #0084ff;
      margin: 0;
    }
  }
  
  .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    
    button {
      flex: 0 0 auto;
      cursor: pointer;
      border-top: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: black;
      background-color: #fff;
      padding: 5px;
      font-size: 14px;

      &:first-child {
        border: 1px solid;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &:last-child {
        border: 1px solid;
        border-left: none;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      &:active {
        border-color: #0084ff;
        color: #0084ff;
      }

      &:disabled {
        color: #bbb;
        background-color: #666;
      }
    }
  }
  
}

.ReactModalPortal {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.ReactModalPortal > * {
  transform: translate(0, -100%);
}

.ReactModal__Overlay {
  overflow-y: scroll;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 100ms ease-in-out;
  opacity: 0;
  &--after-open {
    transform: translate(0, 0%);
    opacity: 1;
  }
  &--before-close {
    transform: translate(0, -100%);
    opacity: 0;
  }
}

.ReactModal__Content {
  border-radius: 8px !important;
}

@media (prefers-color-scheme: dark) {
  .field-secret {

    input {
      color: #e4e4e4;
      background-color: #191919;
      border: 1px solid #131313;
    }
  }

  .secret-modal {

    input {
      color: #e4e4e4;
      background-color: #191919;
      border: 1px solid #131313;
    }
    
    .buttons {
      
      button {
        background-color: #191919;
        color: white;
        border-color: #131313;

        &:first-child, &:last-child {
          border-color: #131313;
        }
      }
      
    }
  }
  
  .ReactModal__Content {
    background-color: #212121 !important;
    border-color: #131313 !important;
  }
}
