.sidebar {
    height: 100%;
    min-height: 100%;
    width: 199px;
    min-width: 199px;
    max-width: 199px;
    //border-right: 1px solid #B8B8B9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: default;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f8f9fb;
    padding: 0;
    margin: 0;

    .sidebar-section {
        height: 40px;
        min-height: 40px;
        max-height: 40px;
        width: 199px;
        min-width: 199px;
        max-width: 199px;
        overflow: hidden;
        padding: 4px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: #8C8C8C;
        font-weight: 600;
        cursor: pointer;

        &.active {
            //background-color: #0084ff;
            color: #0084ff;
            font-weight: bold;

            .section-icon {
                background-color: #0084ff;
            }
        }
        
        &:hover {
            background-color: rgba(0,0,0,0.1);
        }

        .section-icon {
            background-color: #afb9c0;
            margin-right: 4px;
            width: 30px;
            max-width: 30px;
            min-width: 30px;
            height: 30px;
            max-height: 30px;
            min-height: 30px;
        }

        .section-label {
            font-size: 12px;
        }

    }

    &::-webkit-scrollbar
    {
        width: 8px;
    }
}

@media (prefers-color-scheme: dark) {
    .sidebar {
        background-color: #212121;
        
        .sidebar-section {
            color: #787878;
            
            .section-icon {
                background-color: #787878;
            }
        }
    }
}
