.main {

    height: 100%;
    min-height: 100%;
    width: 600px;
    min-width: 600px;
    max-width: 600px;
    background-color: #E7E7E7;
    padding: 10px;
    font-size: 14px;
    cursor: default;
    overflow-x: hidden;
    overflow-y: auto;

}
