.field-accelerator {

  input {
    width: 100%;
    font-size: 14px;
    padding: 8px;
    background-color: rgb(243, 243, 243);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.1s ease-out;

    &:focus {
      border: 2px solid #b5c7d9;
    }
  }

}

@media (prefers-color-scheme: dark) {
  .field-accelerator {

    input {
      color: #e4e4e4;
      background-color: #3c3c3c;
    }
  }
}

