.field-list {
  .ep-list {
    min-width: 25%;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #606671;
    background-color: #ffffff;
    padding: 0;
    outline: none;
    margin: 1px;
    transition: border-color 0.3s ease-out;
    
    &:active, &:focus {
      border: 2px solid #0084ff;
      margin: 0;
    }
    
    option {
      padding: 2px 3px;
    }
  }
  
  .ep-list-button-container {
    margin-top: 10px;
  }

  .ep-list-button {
    cursor: pointer;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
    background-color: #fff;
    padding: 5px;
    font-size: 14px;
    
    &:first-child {
      border: 1px solid;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    
    &:last-child {
      border: 1px solid;
      border-left: none;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  .ep-list-button:active {
    border-color: #0084ff;
    color: #0084ff;
  }

  .ep-list-button-text {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.ep-list-modal-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 14px;
}

.ep-list-modal-input-container {
    .ep-list-modal-input {
        display: block;
        width: 100%;
        font-size: 14px;
        border-radius: 8px;
        border: 1px solid #606671;
        background-color: #ffffff;
        padding: 8px;
        outline: none;
        margin: 1px;
        transition: border-color 0.3s ease-out;
  
        &:focus {
          border: 2px solid #0084ff;
          margin: 0;
        }
    }
    .ep-list-modal-input-label {
        display: block;
        font-weight: bold;
    }
}

.ep-list-modal-button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ep-list-modal-button {
  flex: 0 1 auto;
  border-radius: 8px;
  border: 2px solid #999;
  padding: 5px;
  margin: 3px;
  
  &:disabled {
    border-color: #ddd;
  }
  
  &:active {
    border-color: #0084ff;
  }
}

.ReactModalPortal {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.ReactModalPortal > * {
  transform: translate(0, -100%);
}

.ReactModal__Overlay {
  overflow-y: scroll;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 100ms ease-in-out;
  opacity: 0;
  &--after-open {
    transform: translate(0, 0%);
    opacity: 1;
  }
  &--before-close {
    transform: translate(0, -100%);
    opacity: 0;
  }
}

.ReactModal__Content {
  border-radius: 8px !important;
}

@media (prefers-color-scheme: dark) {
  .field-list {
    .ep-list {
      color: white;
      background-color: #191919;
      border-color: #131313;
    }

    .ep-list-button {
      background-color: #191919;
      color: white;
      border-color: #131313;
      
      &:first-child, &:last-child {
        border-color: #131313;
      }
    }
  }
  
  .ReactModal__Content {
    background-color: #212121 !important;
    border-color: #131313 !important;
  }

  .ep-list-modal-input-container {
    .ep-list-modal-input {
      color: #e4e4e4;
      background-color: #191919;
      border: 1px solid #131313;
    }

    .ep-list-modal-input-label {
      color: white;
    }
  }

  .ep-list-modal-button {
    color: white;
    background: #191919;
    border: 2px solid grey;

    &:disabled {
      opacity: 0.7;
    }
  }
}